html
  head
    title  Solution Hunt Pack
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="stylesheet" href="custom.css")
    style.
      body {
      font-family: Algerian;
      }
  body(style="background-color : #E6E6FA")
    .jumbotron(style="padding-bottom : 0px; background-color:rgba(0,0,0,.075);  padding-top:10px;")
      h1.display-5(style="border-bottom:10px solid black;")
        | Solution Hunt Pack
    .container
      div.alert.alert-danger
        strong
          | "Oops!!!"
        | some error occoured.
        |
        = error_msg
