html
  head
    title  Solution Hunt Pack
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="stylesheet" href="custom.css")
    style.
      body {
      font-family: Algerian;
      }
  body(style="background-color : #E6E6FA")
    .jumbotron(style="padding-bottom : 0px;")
      h1.display-5(style="border-bottom:10px solid black;")
        | Solution Hunt Pack
      | The list below contains the titles of open challenges at
      a(href="http://tatainnoverse.com") http://tatainnoverse.com
      br
      | If you can't see a challenge, try refreshing the list (Press button on right).
      br
      form(action="/refresh" method="get")
        button#refresh_btn.btn.btn-primary(type="submit" style="float : right; margin-top:20px") Refresh challenge list
    .container
      form(action="/keywords" method="post")
       .col-md-12
         .funkyradio
           | Select the challenge :
           each challenge,index in challenges
            .funkyradio-primary
              input(type="radio" name="challenge" id=challenge._id value=challenge._id required onclick="change_button(this,'submit_btn')")
              label(for=challenge._id)= challenge.title
         br
         button.btn.btn-primary(id="submit_btn" type="submit" style="float:right;" disabled="true") Submit
      script.
        function change_button(challenge, button_id){
        document.getElementById(button_id).disabled = "";
        }
